.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    position:relative;
}

.hero-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:60px;
}

.hero-left h4{
    color:#3B82F6;
    font-size:18px;
    margin-bottom:18px;
}

.hero-left h1{

    font-size:72px;

    line-height:1.1;

    margin-bottom:25px;

    font-weight:700;

}

.hero-left h2{

    font-size:34px;

    color:#94A3B8;

    margin-bottom:25px;

}

.hero-left p{

    font-size:18px;

    color:#94A3B8;

    line-height:1.8;

    max-width:580px;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.hero-right{

    display:flex;

    justify-content:center;

}