.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1200px;
  z-index: 1000;

  background: rgba(17, 24, 39, 0.65);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 18px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
}

.logo {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #3b82f6;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  transition: .3s;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}

.resume-btn {
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  border-radius: 10px;
  transition: .3s;
}

.resume-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .resume-btn {
    display: none;
  }
}